@(picForm: Form[Photo], album: String)
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@form(routes.Application.savePicture, 'enctype -> "multipart/form-data") {
    @inputFile(field=picForm("pictures"), '_label -> "Select Pictures", '_id -> "pictures",'accept -> "jpg, JPG, png, PNG, jpeg, bmp, BMP, raw, tiff", 'multiple ->  "")
    @inputText(picForm("album"), '_label -> "Album", 'placeholder -> "Default")

    <p>
        <input type="submit" value="addPhoto" class="btn-primary btn-large">
    </p>
}
