<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->

  	@if(!models.Photo.find.all().isEmpty()){
  <div class="carousel-inner">
      	<div class="active item">
    		<img src="@routes.Assets.at(models.Photo.find.all().get(0).getPicture())" height=580px width=960px alt>
    	</div>
  		@for(picture <- models.Photo.getRemaining()){
  			<div class="item">
  				<img src="@routes.Assets.at(picture.getPicture())" height=580 width=960px alt>
  			</div>
  		}
  	</div>
	}
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>