@(n: Int)
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->

  	@if(!models.Photo.find.all().isEmpty()){
  <div class="carousel-inner">
      	<div class="active item">
    		<img src="@routes.Assets.at(Photo.getFirst().getPicture())" alt>
            <div class="carousel-caption">
                @photoForm(Photo.getFirst, 0)
            </div>
    </div>
  		@for(i <- 0 until models.Photo.getRemaining().size()){
  			<div class="item">
  				<img src="@routes.Assets.at(Photo.getRemaining().get(i).getPicture())" alt>

                  <div class="carousel-caption">
                      @photoForm(Photo.getRemaining().get(i), i)
                  </div>
  			</div>
  		}
  	</div>
	}
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
@if(n != 0){
    <script>
        $.carousel(n);
    </script>
}