@(picForm: Form[Photo])

@main("main") {




    <!-- main body -->
<div class="container">
    <div class="row">
        <div class="well">
            <image src="@routes.Assets.at("images/trash.png")" height=100px width=100px class="pull-right">
            <h1>Add Pictures</h1>
            <div class="container">
                @addPicForm(picForm)
            </div>
        </div>

        <div class="well">
            <h1>Carousel</h1>
        </div>


        <div class="well">
            <h1>Albums</h1>
        </div>
    </div>
</div>
</div>

    
}
