@(picForm: Form[Photo], album: String)

@main("main") {
<div class="container-fluid">
    <div class="row-fluid">
        @sidebar(album)


        <div class="span10">
            <!-- main body -->
            <div id="picform">
                <div class="well">
                    <image src="@routes.Assets.at("images/trash.png")" height=100px width=100px class="pull-right">
                    <h1>Add Pictures</h1>
                        @addPicForm(picForm, album)
                </div>
            </div>
            <div class="well">
                <h1>Carousel</h1>
                @carousel()
            </div>
        </div>
    </div>
</div>
}
