@(selected: String)

<div class="span2">
    <!-- SIDEBAR -->
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">
                Albums
            </li>
            <li class="divider"></li>
            @for(album <- models.Album.find.all()){
                <li @if(selected.equals(album.getName())){class="active"}><a href="@routes.Application.index(album.getName())">@album.getName()</a></li>
            }
        </ul>
    </div>
</div> <!-- end of sidebar -->